services:
  app:
    build: .
    ports:
      - "8080:8080"
    volumes:
      - ./data:/app/data

  locust:
    image: locustio/locust
    ports:
      - "8089:8089"
    volumes:
      - ./locust:/locust
    command: -f /locust/locustfile.py --host=http://app:8080