name: Build and Test Worker
on: 
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Build Step
        run: cd repos/using-actions && docker build -t phonebook-worker .
  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Test phase
        run: cd repos/using-actions && go test -v ./...
  deploy:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Deploy the App
        run: cd repos/using-actions && docker run -d -p 8080:8080 phonebook-worker