name: Go CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test-and-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.20'

      - name: Run Go Tests
        run: go test -v ./...

      - name: Build App for Load Testing
        run: go build -o phonebook .

      - name: Start App
        run: ./phonebook &
        env:
          PORT: 8080

      - name: Wait for App to be ready
        run: sleep 2
      
      - name: Run k6 Load Test
        uses: grafana/k6-action@v0.3.1
        with:
          filename: ./k6/load-test.js
          flags: --env TARGET_URL=http://localhost:8080

      - name: Log in to Docker Hub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/phonebook:latest